################################################################################
## ÷ель пась€нса - расчитстиль поле, убира€ пары карт сумма которых равна 13. ##
##                                                                            ##
## „тобы убрать 2 карты нужно ввести их индексы, например: 6.1>5.2            ##
## Ёта команда означает что будут убраны карта в р€де 6 с позицеей 1 и карта  ##
## в р€де 5 с позицией 2, если сумма этих карт равна 13.  арта из колоды      ##
## находитс€ под индексом 0.0.                                                ##
## ѕоскольку карта ' ' имеет цену 13, ее можно убирать без подбора пары, дл€  ##
## этого нужно два раза записать индекс этой карты, например: 3.2>3.2         ##
## ¬ыбирать можно лишь карты перевернутые обложкой вниз.                      ##
## „тобы вз€ть новую карту из колоды нужно нажать enter оставив поле пустым.  ##
##                                                                            ##
## ÷ена карт:                                                                 ##
## 'V'   -   11                                                               ##
## 'D'   -   12                                                               ##
## 'K'   -   13                                                               ##
## 'T'   -   1                                                                ##
## ÷ена остальных карт соотвествует их значению ('2' - 2, '3' - 3 и т.д)      ##
##                                                                            ##
## ƒругие команды:                                                            ##
## 'restart' - переиграть игру                                                ##
## 'exit' - выйти из игры                                                     ##
## 'rules' - вызвать эту справку снова                                        ##
##                                                                            ##
## ѕродолжить - enter                                                         ##
################################################################################
